<header class="d-flex justify-content-end flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a class="h5 my-0 me-md-left fw-normal p-2 flex-grow-1 bd-highlight" href="/">
        <p class="h5 my-0 me-md-left fw-normal p-2 flex-grow-1 bd-highlight">Shitting CodeNames Corporation</p>
    </a>
    <% if (login !== undefined) { %>
        <a class="btn btn-outline-primary mr-2" href="/lc"><%= login %></a>
        <a class="btn btn-outline-primary mr-2" href="/logout">Выход</a> <!-- Добавьте класс "mr-2" здесь -->
    <% } else { %>
        <a class="btn btn-outline-primary mr-3" href="/auth">Вход</a>
        <a class="btn btn-outline-primary" href="/register">Регистрация</a>
    <% } %>
</header>
